[submodule "plugins/ef-themes"]
	path = plugins/ef-themes
	url = git@github.com:protesilaos/ef-themes
[submodule "plugins/ddskk"]
	path = plugins/ddskk
	url = git@github.com:skk-dev/ddskk
[submodule "plugins/ddskk-posframe"]
	path = plugins/ddskk-posframe
	url = git@github.com:conao3/ddskk-posframe
[submodule "plugins/posframe"]
	path = plugins/posframe
	url = git@github.com:tumashu/posframe
[submodule "plugins/moody"]
	path = plugins/moody
	url = git@github.com:tarsius:moody
[submodule "plugins/mistty"]
	path = plugins/mistty
	url = git@github.com:szermatt/mistty
[submodule "plugins/exec-path-from-shell"]
	path = plugins/exec-path-from-shell
	url = git@github.com:purcell/exec-path-from-shell
