*
!/.gitignore
!/ef-themes/
!/ddskk/
!/posframe/
!/ddskk-posframe/
!/moody/
!/exec-path-from-shell/
!/mistty/
!/marginalia/
!/orderless/
!/embark/
!/consult/
!/affe/
!/vertico/
!/prescient/
!/copilot-chat/
!/magit/
!/corfu/
!/cape/
!/tempel/
!/ess/
!/vundo/
!/flycheck/
!/eglot-tempel/
!/eglot-booster/
!/aio/
!/request/
!/polymode/
!/markdown-mode/
!/shell-maker/
!/mcp/
!/llama/
!/with-editor/
!/clojure-mode/
!/parseedn/
!/spinner/
!/sesman/
!/cider/
!/parseclj/
!/transient/